{% extends 'production/base_deptDetail.html' %}
{% block headext %}
<link rel='stylesheet' type='text/css' href='/static/css/style-deptDetail.css'>
<link rel='stylesheet' type='text/css' href='/static/css/style-classDetail.css'>
{% endblock headext %}

{% block class_nav %}
\ &nbsp; <a href='{% url academics.views.classDetail class.ac_slug %}'>{{ class.class_number }}</a> &nbsp; {% block book_nav %}{% endblock %}
{%endblock class_nav %}

{% block content %}
<div id='classDetail-container'>
<div id='class-header' class='header-skin1 heading-font'>
	<h2>{{ class.class_dept.dept_name }} {{ class.class_number }}{% if class.class_name %}: {{ class.class_name }}{% endif %}</h2>
	<div id='subheadings'>
		{% if class.class_professor %}
		{{ class.class_professor }}
		{% else %}
		No professor on record
		{% endif %}
	</div><!--subheadings-->
</div><!--class-header-->

<div id='classBooks-block' class='block-skin1 body-font'>
	<h4 class="heading-font block-heading1">Books available for {{ class.class_dept.dept_abrv }} {{ class.class_number }}</h4>
	{% for book in books %}
	<div class="book-entry">
		<span class='bold'>Title</span> {{ book.book_title }}<br />
		<span class='bold'>Price</span> {{ book.book_price }}<br />
		<span class='bold'>Condition</span> {{ book.book_condition }}<br />
		<span class='bold'>Seller</span> {{ book.book_seller.user.username }}<br />
		{% if book.book_seller.residence %}
		<span class='bold'>Location</span> {{ book.book_seller.residence }}<br />
		{% endif %}
	</div><!--book-entry-->
	{% endfor %}
</div><!--books-block-->
<div id='other-dept-courses' class='block-skin1 body-font'>
	<h4 class='heading-font block-heading1'>Other courses in {{ class.class_dept.dept_name }} department</h4>
	<ul>
		{% for course in dept_courses %}
		<li><span class='bold'>{{ course.class_dept.dept_abrv }}.{{ course.class_number }}</span> {{ course.class_name }}</li>
		{% endfor %}
	</ul>
</div><!--other-dept-courses-->

<div id='other-prof-courses' class='block-skin1 body-font'>
	{% if class.class_professor %}
	<h4 class='heading-font block-heading1'>Other courses by {% if class.class_professor.first_name %}{{ class.class_professor.first_name }} {% endif %}{{ class.class_professor.last_name }}</h4>
	<ul>
		{% for course in prof_courses %}
		<li><span class='bold'>{{ course.class_dept.dept_abrv }}.{{ course.class_number }}</span> {{ course.class_name }}</li>
		{% endfor %}
	</ul>
	{% else %}
	<h4 class='heading-font'>No professor on record for {{ class.class_dept.dept_abrv }} {{ class.class_number }}</h4>
	{% endif %}
</div><!--other-prof-courses-->
</div><!--classDetail-container-->
{% endblock content %}

