{% extends 'testing/testBase.html' %}

{% block content %}
<h3>Main Registration Form</h3>
<form action="" method="post">
{% csrf_token %}
	<p class="error">{% if form.errors %}
	Please fix the following errors:<br />
	{{ form.non_field_errors }}
	{% endif %}</p>
	<input type="hidden" name="valid_code" value="{{ vcode }}" />
	<label for="uname">Username: </label>
	<input type="text" size="8" name="uname" value="{{ uname }}" readonly="readonly" /><br />
	<p class="error">{% if form.errors %}{{form.errors.passwd}}{% endif %}</p>
	<label for="passwd">Password:</label>
	{{ form.passwd }}<br />
	<p class="error">{% if form.errors %}{{form.errors.cfpass}}{% endif %}</p>
	<label for="cfpass">Confirm password:</label>
	{{ form.cfpass }}<br />
	<p class="error">{% if form.errors %}{{form.errors.fname}}{% endif %}</p>
	<label for="fname">First name: </label>
	{{ form.fname }}<br />
	<p class="error">{% if form.errors %}{{form.errors.lname}}{% endif %}</p>
	<label for="lname">Last name: </label>
	{{ form.lname }}<br />
	<p>
		<p class="error">
		Phone Number:
		{{ form.area_code }}
		{{ form.phone_prefix }}
		{{ form.phone_suffix }}<br />
		<label for="residence">Residence: </label>
		{{ form.residence }}<br />
		<label for="major">Major(s): </label>
		{{ form.major }}
	</p>
<input type="submit" name="sbutton" value="Register" />
</form>
{% endblock content %}
