{% extends "testing/testBase.html" %}
{% load filter_extras %}

{% block content %}
<form action="" method="post">
{% csrf_token %}
<label for="uname">Please enter your my.whittier username: </label>
{{ form.uname }}
<input type="submit" name="sbutton" value="Submit" />
</form>
<h5>INFO</h5>
<p>You are currently
{% if user.is_authenticated %}<span style="color:green">authenticated</span>
{% else %}<span style="color:red">not authenticated</span>
{% endif %}</p>
<p>You match the following browsers:<br />
{% for browser in uagent %}
{% if uagent|lookup:browser %}
{{ browser }}<br />
{% endif %}
{% endfor %}
</p>
<p>The hostname is:<br />
{{ hostname }}</p>
{% endblock content %}
