@font-face {
    font-family: 'Rambla';
    font-style: normal; /*not italic*/
    font-weight: normal; /*not bold*/
    src: url('/static/fonts/Rambla-Regular.ttf');
}

@font-face {
    font-family: 'Rambla';
    font-style: normal;
    font-weight: bold;
    src: url('/static/fonts/Rambla-Bold.ttf');
}

@font-face {
	font-family:'Cabin';
	font-style: normal;
	font-weight: normal;
	src: url('/static/fonts/Cabin-Regular.ttf');
}

@font-face {
	font-family:'Cabin';
	font-style: normal;
	font-weight: bold;
	src: url('/static/fonts/Cabin-Bold.ttf');
}

@font-face {
	font-family:'Cabin';
	font-style: italic;
	font-weight: normal;
	src: url('/static/fonts/Cabin-Italic.ttf');
}

@font-face {
	font-family:'Cabin';
	font-style: italic;
	font-weight: bold;
	src: url('/static/fonts/Cabin-BoldItalic.ttf');
}

.heading-font {
	font-family: 'Rambla', Sans-Serif;
	color: gold;
	font-weight: bold;
}

.body-font {
	font-family: 'Cabin', Sans-Serif;
}

.bold {
	font-weight: bold;
}

#dept-container {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
/*	border: 1px dotted black;*/
}

#title {
	max-width: 1000px;
	margin: 0 auto;
}

#class-block {
	width: 610px;
	height: 400px;
	margin: 5px 5px;
	float: left;
}

#faculty-block {
	width:365px;
	height: 400px;
	margin-top: 5px;
}

#deptBooks-block {
	clear: both;
	margin: 5px;
	margin-right: 4px;
	height: 200px;
}

.book-entry {
	margin: 5px;
}

.course-item a {
	color: black;
	text-decoration: none;
}

.course-item:hover {
	text-decoration: underline;
}

.book-entry a {
	color: black;
	text-decoration: none;
}

.book-entry a:hover {
	text-decoration: underline;
}

.bold {
	color: black;
}
