#dept-container {
	position: relative;
	max-width: 1000px;
	margin: 0 auto;
/*	border: 1px dotted black;*/
}

#title {
	max-width: 1000px;
	margin: 0 auto;
}

#class-block {
	width: 610px;
	height: 400px;
	margin: 5px 5px;
	float: left;
}

#faculty-block {
	width:365px;
	height: 400px;
	margin-top: 5px;
}

#deptBooks-block {
	clear: both;
	margin: 5px;
	margin-right: 4px;
	height: 200px;
}

.book-entry {
	margin: 5px;
}
